{% extends 'base.html.twig' %}





{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-succes">
            {{ message }}
        </div>
    {% endfor %}

       
        <div> Date du jour {{"now" |date('Y:m:d') }}</div>
        <div>Participant : {{ app.user.pseudo }}</div>

    <h2>Filtrer les sortie</h2>
    <button>Rechercher</button>


{# Insérer affichage des sorties #}
<table class="affichageSorties" id="Sortie" >
    <thead>
    <strong>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
    </strong>
    <tbody class="affichageSorties">
             {% for sortie in sorties %}
             <tr>
                 <td>{{ sortie.nom }}</td>
                 <td>{{ sortie.dateHeureDebut |date('d-m-Y') }}</td>
                 <td>{{ sortie.dateLimiteInscription | date ('d-m-Y')}}</td>

                 <td>{{ sortie.etat.libelle }}</td>
                 <td></td>
                 <td>{{ sortie.organisateur.nom }}</td>
                 <td></td>


             </tr>
             {% endfor %}

             <button>Créer une sortie</button>



{% endblock %}



{% block title %}

    {{ parent() }} | Home

{% endblock %}