{% extends 'base.html.twig' %}





{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-succes">
            {{ message }}
        </div>
    {% endfor %}

       
        <div> Date du jour {{"now" |date('Y:m:d') }}</div>
        <div>Participant :</div>

    <h2>Filtrer les sorties</h2>

    {# Formulaire de recherches #}

    {{ form_start(filtreForm) }}
    {{ form_widget(filtreForm) }}
    <button type="submit">Rechercher</button>
    {{ form_end(filtreForm) }}







{# Insérer affichage des sorties #}
<table class="affichageSorties" id="Sortie" >
    <thead>
    <strong>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
    </strong>
    <tbody class="affichageSorties">
             {% for sortie in sorties %}
             <tr>
                 <td>{{ sortie.nom }}</td>
                 <td>{{ sortie.dateHeureDebut |date('d-m-Y') }}</td>
                 <td>{{ sortie.dateLimiteInscription | date ('d-m-Y')}}</td>
                    <td>{{ sortie.users | length}} / {{ sortie.nbInscriptionsMax }}</td>
                 <td>{{ sortie.etat.libelle }}</td>
                 <td></td>
                 <td>{{ sortie.organisateur.nom }}</td>
                 <td>
                    {% if sortie.etat.libelle == "Créée" %}
                     <a href="#" title="modifier">Modifier</a> <br>
                     <a href="#" title="publier">Publier</a>
                        {% elseif sortie.etat.libelle == "Ouverte"%}
                            <a href="#" title="desister">Se désister</a>
                            <a href="#" title="afficher">Afficher</a>
                            <a href="#" title="annuler">Annuler</a>
                            <a href="#" title="s'inscrire">S'inscrire</a>
                          {% elseif sortie.etat.libelle == "Cloturée" %}
                              <a href="#" title="desister">Se désister</a>
                              <a href="#" title="afficher">Afficher</a>
                          {% elseif sortie.etat.libelle == "Annulée" %}
                              <a href="#" title="annuler">Annuler</a>
                              {% else  %}
                                 <a href="#" title="afficher">Afficher</a>
                                  {% endif %}


                  <!--<a href="#" title="s'inscrire">S'inscrire</a>
                  <a href="#" title="modifier">Modifier</a>
                  <a href="#" title="publier">Publier</a>
                   <a href="#" title="desister">Se désister</a>

                         <a href="#" title="modifier">Modifier</a>
                  <a href="#" title="annuler">Annuler</a>
                  -->
                 </td>
             </tr>
             {% endfor %}




             <button>Créer une sortie</button>



{% endblock %}



{% block title %}

    {{ parent() }} | Home

{% endblock %}