{% extends 'base.html.twig' %}

{% block body %}
    <div> Date du jour {{"now" |date('d/m/Y') }}</div>
    <div>Participant :{{ app.user.pseudo }}</div>

    <h2>Filtrer les sorties</h2>

    {# Formulaire de recherches #}
    {{ form_start(filtreForm) }}
    {{ form_widget(filtreForm) }}
    <button type="submit">Rechercher</button>
    {{ form_end(filtreForm) }}

    {# Insérer affichage des sorties #}
    <table class="affichageSorties" id="Sortie" >
    <thead>
    <strong>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
    </strong>
    <tbody class="affichageSorties">
             {% for sortie in sorties %}
             <tr>
                 <td>{{ sortie.nom }}</td>
                 <td>{{ sortie.dateHeureDebut |date('d-m-Y') }}</td>
                 <td>{{ sortie.dateLimiteInscription | date ('d-m-Y')}}</td>
                 <td>{{ sortie.users | length}} / {{ sortie.nbInscriptionsMax }}</td>
                 <td>{{ sortie.etat.libelle }}</td>
                 <td>{% for user in sortie.users %}
                         {% if user == app.user %}<!--personne connectée au site-->           X
                         {% endif %}
                         {% endfor %}</td>
                 <td>{{ sortie.organisateur.nom }}</td>
                 <td>
                    {% if sortie.etat.libelle == "Créée" %}
                       <a href="#" title="modifier">Modifier</a> <br>
                       <a href="#" title="publier">Publier</a>
                    {% elseif sortie.etat.libelle == "Ouverte"%}
                        <a href="#" title="desister">Se désister</a>
                        <a href="#" title="afficher">Afficher</a>
                        <a href="#" title="annuler">Annuler</a>
                        <a href="#" title="s'inscrire">S'inscrire</a>
                    {% elseif sortie.etat.libelle == "Cloturée" %}
                        <a href="#" title="desister">Se désister</a>
                        <a href="#" title="afficher">Afficher</a>
                    {% elseif sortie.etat.libelle == "Annulée" %}
                        <a href="#" title="annuler">Annuler</a>
                    {% else  %}
                        <a href="#" title="afficher">Afficher</a>
                    {% endif %}
                 </td>
             </tr>
             {% endfor %}
             {% if is_granted("ROLE_ORGANISATEUR") %}

                 <a href="{{ path('sortie_creation') }}" title="creation">
                     <button class="btn btn-lg btn-primary">Créer une sortie</button>
                 </a>

             {% endif %}
{% endblock %}

{% block title %}
             {{ parent() }} | Home
{% endblock %}